.user-list {
  width: 100%;
  max-width: 600px;
  padding: 2rem 1rem;

  &__title {
    text-align: center;
    font-size: 1.875rem;
    font-weight: 700;
    color: #fff;
    margin: 0 0 2rem 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
